/* For all elements */

:root {
    --english: 'Roboto', sans-serif;
    --russian: 'Nunito', sans-serif;
    --main-color: rgb(119, 119, 119);
    --hover-color: #fff;
    --button: rgba(0, 125, 181, 1);
    --transition: all 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    background: #000;
}


/* Header Section */

header {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.logo-wrapper {
    height: 50px;
    width: 50px;
}

.logo-svg {
    width: 50px;
    height: 50px;
}

.firstlogo {
    display: block;
}

.first-logo {
    fill: var(--main-color);
    cursor: pointer;
    transition: var(--transition);
}

.first-logo:hover {
    fill: var(--hover-color);
}

.secondlogo {
    display: none;
}

.second-logo {
    fill: var(--hover-color);
    cursor: pointer;
    transition: var(--transition);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-item {
    font-size: 1.2rem;
    color: var(--main-color);
    cursor: pointer;
    font-family: var(--russian);
    transition: var(--transition);
    margin: 10px;
}

.nav-item:hover {
    color: var(--hover-color);
}

.nav-item.active {
    color: var(--hover-color);
}


/* Main Section */

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-image: url('assets/img/forest.jpg');
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.play-button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    fill: #fff;
    transition: var(--transition);
    display: block;
}

.play-button:hover {
    fill: var(--button);
}

.pause-button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    fill: #fff;
    transition: var(--transition);
    display: none;
}

.pause-button:hover {
    fill: var(--button);
}

.play-pause__button {
    margin: 0 auto 30px;
}

#volume-slider {
    margin-right: 20px;
}

#mute-icon {
    width: 40px;
    height: 40px;
}

button {
    border-style: none;
    background-color: transparent;
}

.volume-up {
    display: block;
    fill: #fff;
    transition: var(--transition);
}

.volume-up:hover {
    fill: var(--button);
}

.volume-mute {
    display: none;
    fill: #fff;
    transition: var(--transition);
}

.volume-mute:hover {
    fill: var(--button);
}


/* Footer Section */

footer {
    padding: 0 20px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 10vh;
}

.footer-wrapper__element span {
    font-size: 1.5rem;
    font-family: var(--english);
    color: var(--main-color);
    margin: 10px;
}

.footer-wrapper__element span a {
    color: var(--main-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-wrapper__element span a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.footer-icon__element-svg {
    width: 135px;
    height: 50px;
    fill: var(--main-color);
    transition: var(--transition);
}

.footer-icon__element-svg:hover {
    fill: var(--hover-color);
}


/* Responsive */

@media only screen and (max-width: 618px) {
    .firstlogo {
        margin: 0 auto !important;
    }
    .secondlogo {
        margin: 0 auto !important;
    }
    .nav-item {
        margin: 10px;
    }
    .main-wrapper {
        height: 50vh;
    }
    .navigation {
        gap: 15px;
    }
}